{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "arrowParens": "always",
    "printWidth": 150,
    "singleAttributePerLine": true,
    "importOrder": ["^react", "^(node:.*|fs|path|os|util|events|http|https)$", "^[a-zA-Z]", "^@/", "^[./]"],
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
