{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "arrowParens": "always",
    "printWidth": 100,
    "singleAttributePerLine": true,
    "importOrder": [
        "^react",
        "^[a-zA-Z]",
        "^@[a-z]+(-[a-z]+)*$",
        "@hookform/resolvers*",
        "^@/[a-z]+(-[a-z]+)*",
        "^[./]"
    ],
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
