{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "singleAttributePerLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^node:.*$", "^[a-zA-Z0-9]", "^@.*$", "^[./].*$"],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true
}
