{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": false,
    "arrowParens": "always",
    "printWidth": 100,
    "plugins": ["prettier-plugin-tailwindcss"]
}
