services:
    mongodb:
        image: mongo:7.0
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db
        restart: unless-stopped

volumes:
    mongo_data:
